@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway/static/Raleway-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  color: black;
  font-family: raleway;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(66, 119, 121);
}
body header {
  font-family: roboto;
  top: 0;
  position: sticky;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
body header a {
  text-decoration: none;
  color: ghostwhite;
}
body header article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body header article label {
  color: aliceblue;
  font-family: roboto;
}
body header article select {
  font-family: roboto;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  padding: 5px;
  background-color: aliceblue;
  margin-left: 10px;
}
body header article form {
  margin: 0 0 0 60px;
}
body header article form input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: aliceblue;
  font-family: roboto;
}
body header article form button {
  margin: 0 5px;
  font-family: roboto;
  height: 30px;
  width: 80px;
  padding: 0 7px 0 7px;
  border-radius: 20px;
  border: none;
  background-color: rgb(147, 18, 147);
  color: aliceblue;
}
body header article form button:hover {
  background-color: rgb(66, 119, 121);
}
body header article label {
  margin: 15px;
}
body main {
  width: 100%;
}
body main .intro {
  width: 60%;
  margin: 50px 20% 50px 20%;
}
body main .intro h2 {
  text-align: center;
  color: aliceblue;
}
body main #newsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100% !important;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}
article div {
  font-family: raleway;
  width: 300px;
  height: 540px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: -4px -3px 0px 0px rgba(0, 0, 0, 0.552);
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
}
article div p {
  margin: 20px 5px 20px 5px;
}
article div figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 10px 0 20px 0;
  border-radius: 4px;
}
article div h4 {
  font-family: roboto;
  margin-bottom: 10px;
}
article div button {
  background-color: rgb(66, 119, 121);
  color: aliceblue;
  border-radius: 5px;
  width: 120px;
  height: 20px;
  border: 1.2px solid black;
  text-decoration: none;
  font-family: roboto;
}
article div button:hover {
  background-color: rgb(147, 18, 147);
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}
footer section {
  display: flex;
  align-items: center;
  padding: 10px;
}
footer section a {
  font-size: 0.8em;
  color: aliceblue;
  text-decoration: none;
  margin-left: 20px;
}

@media only screen and (max-width: 920px) {
  body header {
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 580px) {
  body header {
    height: 150px;
  }
  body header article form {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
